<include file="common/header"/>


<div class="content content-nav-base about-content">
    <div class="main-nav">
        <div class="inner-cont0">
            <div class="inner-cont1 w1200">
                <div class="inner-cont2">
                    <a href="{:U('/commodity')}">所有零食</a>
                    <a href="{:U('/buytoday')}">零食推荐</a>
                    <a href="{:U('/info')}">零食资讯</a>
                    <a href="{:U('/annoucement')}">零食公告</a>
                    <a href="{:U('/message')}">留言板</a>
                    <a href="{:U('/about')}" class="active">关于我们</a>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-container">
        <div class="layui-row layui-col-space15 margin15">
            <section class="layui-card">
                <div class="layui-card-header">
                    <h2>零食商城宣传片</h2>
                </div>
                <div class="layui-card-body">
                    <!--<div class="video" id="video" data-url="__STATIC__/vedio/nayiye.mp4"-->
                         <!--style="width: 100%;"></div>-->
                    <iframe src="https://api.47ks.com/webcloud/?v={$film.p_address}?autoplay=false" allowtransparency="yes" allowfullscreen="true" width="100%" height="650" scrolling="no"></iframe>
                </div>
            </section>
        </div>
    </div>

    <div class="after-sale w1200">
        <h4>配送售后</h4>
        <div class="item-box">
            <div class="item item1">
                <div class="img-box">
                    <img src="__PUBLIC__res/static/img/us_icon1.png">
                </div>
                <p>7天无理由退换货</p>
            </div>
            <div class="item item2">
                <div class="img-box">
                    <img src="__PUBLIC__res/static/img/us_icon2.png">
                </div>
                <p>全场满99元顺丰包邮</p>
            </div>
            <div class="item item3">
                <div class="img-box">
                    <img src="__PUBLIC__res/static/img/us_icon3.png">
                </div>
                <p>优质客服服务</p>
            </div>
        </div>
    </div>
</div>
<include file="common/foot"/>

<script type="text/javascript" src="__STATIC__/lib/ckplayer/ckplayer.js"></script>
<script type="text/javascript">

    layui.config({
        base: '__PUBLIC__res/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use(['mm', 'jquery'], function () {
        var $ = layui.jquery
        // var vUrl = $('#video').data('url'),
        //     videoObject = {
        //         container: '#video',//“#”代表容器的ID，“.”或“”代表容器的class
        //         loop: true,
        //         autoplay: false,
        //         variable: 'player',//该属性必需设置，值等于下面的new chplayer()的对象
        //         video:vUrl//视频地址
        //     }
        // var player = new ckplayer(videoObject);
    });
</script>
</body>
</html>