<include file="common/header" />

  <div class="content content-nav-base shopcart-content">
    <div class="main-nav">
      <div class="inner-cont0">
        <div class="inner-cont1 w1200">
          <div class="inner-cont2">
            <a href="{:U('/commodity')}" class="active">所有零食</a>
            <a href="{:U('/buytoday')}">零食推荐</a>
            <a href="{:U('/info')}">零食资讯</a>
            <a href="{:U('/annoucement')}">零食公告</a>
            <a href="{:U('/message')}">留言板</a>
            <a href="{:U('/about')}">关于我们</a>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-bg w1200">
      <h3>零食购物车</h3>
      <p>爱上零食、爱上生活</p>
    </div>
    <div class="cart w1200">
      <div class="cart-table-th">
        <div class="th th-chk">
          <div class="select-all">
            <div class="cart-checkbox">
              <input class="check-all check" id="allCheckked" type="checkbox" value="true">
            </div>
          <label>&nbsp;&nbsp;全选</label>
          </div>
        </div>
        <div class="th th-item">
          <div class="th-inner">
            商品
          </div>
        </div>
        <div class="th th-price">
          <div class="th-inner">
            单价
          </div>
        </div>
        <div class="th th-amount">
          <div class="th-inner">
            数量
          </div>
        </div>
        <div class="th th-sum">
          <div class="th-inner">
            小计
          </div>
        </div>
        <div class="th th-op">
          <div class="th-inner">
            操作
          </div>
        </div>  
      </div>
      <div class="OrderList">
        <div class="order-content" id="list-cont">
          <if condition = "!$shopcart">

          </if>
          <else >
            <foreach name="shopcart" item="vo">
              <ul class="item-content layui-clear">
                <li class="th th-chk">
                  <div class="select-all">
                    <div class="cart-checkbox">
                      <input class="CheckBoxShop check" id="" type="checkbox" num="all" name="select-all" value="true">
                    </div>
                  </div>
                </li>
                <li class="th th-item">
                  <div class="item-cont">
                    <a href="{:U('/details',array(goods_id=>$vo['goods_id']))}"><img src="__PUBLIC__{$vo.goods_pic}" alt=""></a>
                    <div class="text">
                      <div class="title">{$vo.goods_name}</div>
                      <input class="goods_id" type="hidden" name="gooods_id" value="{$vo.goods_id}">
                    </div>
                  </div>
                </li>
                <li class="th th-price">
                  <span class="th-su">{$vo.goods_shichangjia }</span>
                </li>
                <li class="th th-amount">
                  <div class="box-btn layui-clear">
                    <div class="less layui-btn">-</div>
                    <input class="Quantity-input" type="" name="" value="{$vo.quantity}" disabled="disabled">
                    <div class="add layui-btn">+</div>
                  </div>
                </li>
                <li class="th th-sum">
                  <span class="sum">{$vo.sum}</span>
                </li>
                <li class="th th-op">
                  <span class="dele-btn">删除</span>
                </li>
              </ul>
            </foreach>
          </else>
        </div>
      </div>




      <div class="FloatBarHolder layui-clear">
        <div class="th th-chk">
          <div class="select-all">
            <div class="cart-checkbox">
              <input class="check-all check" id="" name="select-all" type="checkbox"  value="true">
            </div>
            <label>&nbsp;&nbsp;已选<span class="Selected-pieces">0</span>件</label>
          </div>
        </div>
        <div class="th batch-deletion">
          <span class="batch-dele-btn">批量删除</span>
        </div>
        <div class="th Settlement">
          <button class="layui-btn" lay-submit="" lay-filter="commsue">结算</button>
        </div>
        <div class="th total">
          <p>应付：<span class="pieces-total">0</span></p>
        </div>
      </div>
    </div>
  </div>

<include file="common/foot"/>

<script type="text/javascript">
  layui.config({
    base: '__PUBLIC__res/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['mm','jquery','element','car','form','layer'],function(){
    var $ = layui.$,element = layui.element,car = layui.car,form = layui.form,layer = layui.layer;

    form.on('submit(commsue)',function(data){
        if(parseInt(document.getElementsByClassName('Selected-pieces')[0].innerHTML) === 0 || {$num} === 0) {
            return layer.msg("您没选择购物的商品或者购物车没有需要购买的物品",{icon:2,shade:0.4,time:3000});
        } else {
            window.location.href="{:U('/pay/info')}";
        }
        return false;
    })
    car.init()
});
</script>
</body>
</html>