<include file="common/header" />

<div class="content content-nav-base commodity-content">
    <div class="main-nav">
        <div class="inner-cont0">
            <div class="inner-cont1 w1200">
                <div class="inner-cont2">
                    <a href="{:U('/commodity')}">所有零食</a>
                    <a href="{:U('/buytoday')}">零食推荐</a>
                    <a href="{:U('/info')}">零食资讯</a>
                    <a href="{:U('/annoucement')}">零食公告</a>
                    <a href="{:U('/message')}"  class="active">留言板</a>
                    <a href="{:U('/about')}">关于我们</a>
                </div>
            </div>
        </div>
    </div>
    <div class="commod-cont-wrap">
        <div class="commod-cont w1200 layui-clear">

                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-card-header">
                            <span>用户留言</span>
                        </div>
                        <div class="layui-card-body">
                            <form class="layui-form" lay-filter="formAddFilter">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">留言标题</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="liuyan_title" placeholder="标题" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">留言内容</label>
                                    <div class="layui-input-block">
                                        <textarea type="text" name="liuyan_content" id="LAY_content" lay-verify="liuyan_content" class="field-liuyan_content"></textarea>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-submit lay-filter="form_add"> 留言 </button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

        </div>

    </div>
    <div class="commod-cont-wrap">
        <div class="commod-cont w1200 layui-clear">
            <div class="layui-row layui-col-space15">
                <if condition="!$liuyanlist">
                    <h1 style="align-content: center">无用户留言</h1>
                </if>
                <else>
                    <foreach name="liuyanlist" item="vo">
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header  layui-bg-cyan">
                                    <div class="layui-col-md6">
                                        <h3>标题:{$vo.liuyan_title}</h3>
                                    </div>
                                    <div class="layui-col-md4">
                                        <h4>时间:{$vo.liuyan_date}</h4>
                                    </div>

                                    <div class="layui-col-md2">
                                        <h4>用户:{$vo.liuyan_user}</h4>
                                    </div>
                                </div>
                                <div class="layui-card-body">
                                    {$vo.liuyan_content}
                                </div>
                            </div>
                        </div>
                    </foreach>
                    <div  style="text-align: center;" class="pages">{$page}</div>
                </else>
            </div>

        </div>

    </div>
</div>
<include file="common/foot"/>
<script>

    layui.config({
        base: '__PUBLIC__res/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use(['mm','laypage','jquery','layedit','form','layer'],function(){
        var laypage = layui.laypage,$ = layui.$,layedit = layui.layedit
            mm = layui.mm,form = layui.form,layer = layui.layer;
        var index = layedit.build('LAY_content');
        form.render(null,"formAddFilter");
        form.verify({
            liuyan_content:function(value) {
                return layedit.sync(index);
            }
        });

        form.on('submit(form_add)',function(data) {
            var field = data.field;

            if(field.liuyan_title == "" || field.liuyan_content == "") {
                layer.msg("留言信息不能为空",{icon:2,shade:0.4,time:3000});
            } else {
                $.post("/snackshop/index.php/liuyan/add",data.field,function(result){
                    if(result['code'] == 0) {
                        layer.msg("留言成功，请刷新页面并等待管理员审核",{icon:1,shade:0.4,time:3000});
                    } else if(result['code'] == 102) {
                        layer.msg("请先登录，在进行留言",{icon:4,shade:0.4,time:3000});
                    } else {
                        layer.msg("出错啦~~~",{icon:2,shade:0.4,time:3000});
                    }
                },'json')
            }

            return false;
        })

    });
</script>


</body>
</html>