<include file="common/header" />

<div class="content content-nav-base commodity-content">
    <div class="main-nav">
        <div class="inner-cont0">
            <div class="inner-cont1 w1200">
                <div class="inner-cont2">
                    <a href="{:U('/commodity')}">所有零食</a>
                    <a href="{:U('/buytoday')}">零食推荐</a>
                    <a href="{:U('/info')}">零食资讯</a>
                    <a href="{:U('/annoucement')}">零食公告</a>
                    <a href="{:U('/information')}" class="active">留言板</a>
                    <a href="{:U('/about')}">关于我们</a>
                </div>
            </div>
        </div>
    </div>
    <div class="commod-cont-wrap">
        <div class="commod-cont w1200 layui-clear">

        </div>
    </div>
</div>
<include file="common/foot"/>
<script>

    layui.config({
        base: '__PUBLIC__res/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use(['mm','laypage','jquery'],function(){
        var laypage = layui.laypage,$ = layui.$,
            mm = layui.mm;

    });
</script>


</body>
</html>