<include file="common/header" />


<div class="content content-nav-base information-content">
    <div class="main-nav">
        <div class="inner-cont0">
            <div class="inner-cont1 w1200">
                <div class="inner-cont2">
                    <a href={:U('/commodity')}>所有零食</a>
                    <a href={:U('/buytoday')}>零食推荐</a>
                    <a href={:U('/info')}  class="active">零食资讯</a>
                    <a href="{:U('/annoucement')}">零食公告</a>
                    <a href="{:U('/message')}">留言板</a>
                    <a href={:U('/about')}>关于我们</a>
                </div>
            </div>
        </div>
    </div>
    <div class="info-list-box">
        <div class="info-list w1200">
            <div class="item-box layui-clear" id="list-cont">
                <if condition = "!$information">
                    <h1 style="align-content: center">管理员未发布任何资讯</h1>
                </if>
                <else >
                    <foreach name="information" item="vo">
                        <div class="item">
                            <div class="img">
                                <img src="__PUBLIC__{$vo.information_pic}" alt=""  width="280px" height="280px" style="margin: 3px; border: black 2px">
                            </div>
                            <div class="text">
                                <h4>{$vo.information_name}</h4>
                                <p class="data">{$vo.information_date}</p>
                                <p class="info-cont">{$vo.information_content}</p>
                            </div>
                        </div>
                    </foreach>
                </else>
            </div>
            <div class="pages">{$page}</div>
        </div>
    </div>
</div>


<include file="common/foot"/>
<!-- 模版引擎导入 -->
<!-- <script type="text/html" id="demo">
  {{# layui.each(d.listCont,function(index,item){}}
  <div class="item">
    <div class="img">
      <img src="__PUBLIC__res/img/new1.jpg" alt="">
    </div>
    <div class="text">
      <h4>周岁内的宝宝消化不良拉肚子怎么办?</h4>
      <p class="data">2016-12-24 16:33:26</p>
      <p class="info-cont">宝宝在周岁之前体质相对较弱，特别是薄弱肠道，一不注意就会拉肚子;那么宝宝消化不良拉肚子</p>
    </div>
  </div>
  {{# })}}
</script> -->
<script>
    layui.config({
        base: '__PUBLIC__res/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use(['mm','laypage'],function(){
        var
            mm = layui.mm,laypage = layui.laypage;
        laypage.render({
            elem: 'demo0'
            ,count: 100 //数据总数
        });
        // 模版引擎导入
        // var html = demo.innerHTML;
        // var listCont = document.getElementById('list-cont');
        //  mm.request({
        //    url: '__PUBLIC__json/information.json',
        //    success : function(res){
        //      console.log(res)
        //      listCont.innerHTML = mm.renderHtml(html,res)
        //    },
        //    error: function(res){
        //      console.log(res);
        //    }
        //  })
    });

</script>


</body>
</html>