<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-card-header">
                        <span>留言列表</span>
                    </div>
                    <div class="layui-card-body">
                        <table class="layui-hide" id="liuyanlist" lay-filter="liuyanlist"></table>
                        <!--  前端动态表格工具栏--->
                        <script type="text/html" id="liuyanBar">
                            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="pass">通过</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="deny">不通过</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    layui.use(['jquery', 'mockjs', 'table', 'sidebar', 'form'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            table = layui.table,
            sidebar = layui.sidebar,
            form = layui.form;
        //第一个实例
        var table = layui.table;
        //动态创建表格
        table.render({
            //选择表格的id
            elem: '#liuyanlist',
            //选择表格调用的接口，该接口返回数据类型为json，同时默认向该接口传送分页等信息，详情见后端TP代码
            url: "/api/admin.php/liuyan/list",
            title: '公告列表',
            //此ID用于数据表格重载时使用，比如进行查询需要重载表格数据
            id: 'liuyanlist',
            //表格样式，隔行换色
            even: true,
            //表头部分
            cols: [[
                {field: 'liuyan_id', title: 'ID', width: 40, fixed: 'left', unresize: true, sort: true, align: 'center'},
                {field: 'liuyan_title', title: '留言标题', width: 130, align: 'center'},
                {field: 'liuyan_content', title: '留言内容', width: 100, align: 'center'},
                {field: 'liuyan_date', title: '留言时间', width: 180, align: 'center'},
                {field: 'liuyan_user', title: '留言者', width: 130, align: 'center'},
                {field: 'liuyan_isok', title: '受理情况', width: 100, align: 'center',templet:function(d){
                        if(d.liuyan_isok == '0') {
                            return '<p class="layui-bg-orange">待审核</p>';
                        }else if(d.liuyan_isok == '1') {
                            return '<p class="layui-bg-green">审核通过</p>';
                        } else {
                            return '<p class="layui-bg-red">不通过</p>';
                        }
                    }},
                {fixed: 'right', title: '操作', toolbar: '#liuyanBar', align: 'center'}
            ]],
            //开启分页
            page: true,
            //默认每页10条数据
            limit: 10,
        });

        //工具栏监听事件
        table.on('tool(liuyanlist)', function (obj) {
            var data = obj.data;
            // console.log(data);
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.post("/api/admin.php/liuyan/del", data, function(result) {
                        // 请求处理
                        if(result['code'] == 0) {
                            layer.msg("删除成功",{icon:1,time:3000,shade:0.4});
                            obj.del();
                            layer.close(index);
                        } else {
                            layer.msg("删除失败",{icon:2,time:3000,shade:0.4});
                        }
                    },'json');

                });
            } else if (obj.event === 'pass'){
                layer.confirm('确定审核通过吗？', function (index) {
                    data['event'] = 'pass';
                    $.post("/api/admin.php/liuyan/confirm", data, function(result) {
                        // 请求处理
                        if(result['code'] == 0) {
                            layer.msg("审核已通过，请刷新页面",{icon:1,time:3000,shade:0.4});
                            layer.close(index);
                        } else {
                            layer.msg("审核出现问题",{icon:2,time:3000,shade:0.4});
                        }
                    },'json');

                });
            } else if(obj.event === 'deny'){
                layer.confirm('确定审核不通过吗？', function (index) {
                    data['event'] = 'deny';
                    $.post("/api/admin.php/liuyan/confirm", data, function(result) {
                        // 请求处理
                        if(result['code'] == 0) {
                            layer.msg("审核成功，请刷新页面",{icon:1,time:3000,shade:0.4});
                            layer.close(index);
                        } else {
                            layer.msg("审核出现问题",{icon:2,time:3000,shade:0.4});
                        }
                    },'json');

                });
            }
        });
    });
</script>